<p *ngIf="!produtos"><em>Carregando...</em></p>
 
<div class="table-title">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="float-left">Produtos</h2>
            <button class="btn btn-primary float-right" (click)=create()>Cadastrar</button>
        </div>
    </div>
</div>
 
<div class="table-responsive">
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="produtos">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produto of produtos">
                <td>{{ produto.nome }}</td>
                <td>{{ produto.preco }}</td>
                <td><button class="btn btn-warning" (click)="edit(produto)">Editar</button></td>
                <td><button class="btn btn-danger" (click)="delete(produto)">Excluir</button></td>
            </tr>
        </tbody>
    </table>
</div>